<section class="math-head">
                <div class="jumbotron inset-jumbo">
                    <div class="jumbo-position">
                        <div class="bitmap-head">
                            <img src="images/page-head-about.png" alt="about us header">
                        </div>
                    </div>
                </div>
            </section>
            <!-- / math-head -->
            <section class="sub-wrap">
            	<div class="container">
            		<div class="col-mid">
            			<p class="lead-lrg">At SM Global Tech we understand that dynamic businesses need freedom to flex strategically without the shackles of high-risk IT. We believe that offering the simplest yet innovative solutions, accompanied with the outmost customer service is necessary to help our clients achieve their goals.</p>
            			<p>SM Global Tech a proudly South African company is based in Centurion and our support spans across parts of the Gauteng region. SM Global Tech is a 100% BEE owned IT managed service company. Our breadth and depth of expertise enables us to talk peer to peer and deliver the right service for your business.</p>
            			<p>By providing pro-active IT managed services for a fixed cost to agile, forward thinking businesses we ensure that you can look forward to running your business with the freedom of knowing that your IT is completely taken care off. Our passion, creativity, innovation, accountability and client centricity makes us unique in our area of expertise and differentiates us from our competitors.</p>
            			<p>Through implementation of the company values, we believe that we will be able to attain our goals and objectives. By upholding our 4 main values we are constantly looking for ways to improve.</p>
            		</div>
            	</div>
            </section>
            <!-- / about us -->
            <section class="sect-wrap">
                <div class="lrg-heading">
                    <h3>Technology Partners</h3>
                    <p class="lead-lrg">SM Global Tech partners with great market leaders in the technology industry bringing you<br>
the latest hardware and software capabilities</p>
                </div>
                <div class="container">
                    <div class="col-4" ng-repeat="partner in partners">
                        <div class="img-wrap">
                            <img ng-src="{{ partner.images }}" alt="{{ partner.name }} partner">
                        </div>
                        <div class="content-wrap">
                            <h5>{{ partner.name }} Registered Partner</h5>
                            <p>{{ partner.description }}.</p>
                        </div>
                    </div>
                </div>
                <!-- / row 2 -->
            </section>