<section class="math-head">
                <div class="jumbotron inset-jumbo">
                    <div class="jumbo-position">
                        <div class="bitmap-head">
                            <img src="images/page-head-about.png" alt="about us header">
                        </div>
                    </div>
                </div>
            </section>
            <!-- / math-head -->
            <section class="sub-wrap">
            	<div class="container">
            		<div class="col-mid">
            			<p class="lead-lrg">At SM Global Tech we understand that dynamic businesses need freedom to flex strategically without the shackles of high-risk IT. We believe that offering the simplest yet innovative solutions, accompanied with the outmost customer service is necessary to help our clients achieve their goals.</p>
            			<p>SM Global Tech a proudly South African company is based in Centurion and our support spans across parts of the Gauteng region. SM Global Tech is a 100% BEE owned IT managed service company. Our breadth and depth of expertise enables us to talk peer to peer and deliver the right service for your business.</p>
            			<p>By providing pro-active IT managed services for a fixed cost to agile, forward thinking businesses we ensure that you can look forward to running your business with the freedom of knowing that your IT is completely taken care off. Our passion, creativity, innovation, accountability and client centricity makes us unique in our area of expertise and differentiates us from our competitors.</p>
            			<p>Through implementation of the company values, we believe that we will be able to attain our goals and objectives. By upholding our 4 main values we are constantly looking for ways to improve.</p>
            		</div>
            	</div>
            </section>
            <!-- / about us -->
            <section class="sect-wrap">
                <div class="lrg-heading wow bounceIn">
                    <h3>Technology Partners</h3>
                    <p class="lead-lrg">SM Global Tech partners with great market leaders in the technology industry bringing you<br>
the latest hardware and software capabilities</p>
                </div>
                <div class="container" ng-controller="AboutCtrl as smglobalApp">
                    <div class="col-4">
                        <div class="img-wrap">
                            <img ng-src="{{ smglobalApp.partners.image }}" alt="HP partner">
                        </div>
                        <div class="content-wrap">
                            <h5>{{smglobalApp.partners.name}}</h5>
                            <p>{{smglobalApp.partners.description}}.</p>
                        </div>
                    </div>
                    <div class="col-4 wow bounceIn">
                        <div class="img-wrap">
                            <img src="images/partners/microsoft-logo.jpg" alt="Microsoft partner">
                        </div>
                        <div class="content-wrap">
                            <h5>Microsoft Partner</h5>
                            <p>Global leader in multinational computer technologies. They develop, manufacture, license, and support a wide range of software products for computing devices.</p>
                        </div>
                    </div>
                    <div class="col-4 wow bounceIn">
                        <div class="img-wrap">
                            <img src="images/partners/hp-logo.jpg" alt="HP partner">
                        </div>
                        <div class="content-wrap">
                            <h5>Hewlett Packard Partner</h5>
                            <p>An American multinational information technology corporation that    provides products, technologies, software, solutions and services to consumers, small and medium sized businesses (SMBs) and large enterprises.</p>
                        </div>
                    </div>
                    <div class="col-4 wow bounceIn">
                        <div class="img-wrap">
                            <img src="images/partners/cisco-logo.jpg" alt="CISCO partner">
                        </div>
                        <div class="content-wrap">
                            <h5>Cisco Reseller</h5>
                            <p>One of the leading manufacturers of network equipment. Cisco's primary business is in internetworking products for enterprise and service providers, small Businesses and the home, such as routers, bridges, and switches.</p>
                        </div>
                    </div>
                </div>
                <!-- / row 1 -->
                <div class="container">
                    <div class="col-4 wow bounceIn">
                        <div class="img-wrap">
                            <img src="images/partners/symantec-logo.jpg" alt="Symantec partner">
                        </div>
                        <div class="content-wrap">
                            <h5>Symantec Reseller</h5>
                            <p>For the busy business, Symantec Backup Exec System Recovery replaces confusion with confidence, offering complete data protection set-up in less than 10 minutes through three simple steps. In one simple yet comprehensive package proven in millions of installations worldwide, you get a total solution for data backup, system restoration and disaster recovery.</p>
                        </div>
                    </div>
                    <div class="col-4 wow bounceIn">
                        <div class="img-wrap">
                            <img src="images/partners/dell-logo.jpg" alt="Dell partner">
                        </div>
                        <div class="content-wrap">
                            <h5>Dell Registered Partner</h5>
                            <p>For more than 28 years, Dell has empowered countries, communities, customers and people everywhere to use technology to realize their dreams. Dell offers to deliver end-to-end solutions that address your integration challenges without the cost and complexity of installing and maintaining software.</p>
                        </div>
                    </div>
                    <div class="col-4 wow bounceIn">
                        <div class="img-wrap">
                            <img src="images/partners/ibm-logo.jpg" alt="IBM partner">
                        </div>
                        <div class="content-wrap">
                            <h5>IBM Registered Partner</h5>
                            <p>The International Business Machines Corporation (IBM) is an American multinational technology and consulting corporation, with headquarters in Armonk, New York, United States. IBM manufactures and markets computer hardware and software, and offers infrastructure, hosting and consulting services in areas ranging from mainframe computers to nanotechnology.</p>
                        </div>
                    </div>
                </div>
                <!-- / row 2 -->
            </section>