
            <section class="math-head">
                <div class="jumbotron inset-jumbo">
                    <div class="jumbo-position">
                        <div class="bitmap-head">
                            <img src="assets/images/page-head-audit.png" alt="technology audit header">
                        </div>
                    </div>
                </div>
            </section>
            <!-- / math-head -->
            <section class="sub-wrap">
                <div class="container">
                    <div class="col-mid">
                        <p class="lead-lrg">We offer prospective partners a free on-site technology audit. Our technology audit is an essential health check of your IT infrastructure and is the foundation of any good IT support proposal. It is a detailed analysis of your existing IT systems and will help to identify any weaknesses and potential risks along with any opportunities for future improvement.</p>
                        <p>Our audit can also be used for the development of a technology strategy that will consider how well your current IT infrastructure is suited to achieving the future goals of your business. In order to conduct our auditing process effectively we ask clients to make every aspect of their network available to us. Our auditing process typically follows 3 distinct stages as outlined below:</p>
                        <div class="inline-heading">
                            <h5 class="inline">Stage 1</h5>
                            <span>Review Meeting</span>
                        </div>
                        <p>Our Engineer will meet with you to gain an in-depth understanding of your business needs and its IT demands.  During the meeting they will ensure that they fully understand your business, its history, your aspirations and goals, and the reasons for your current IT infrastructure. This meeting is also a good opportunity to sit down and discuss any questions or concerns that you may have about your IT systems without having to pay for the privilege.</p>
                        <div class="inline-heading">
                            <h5 class="inline">Stage 2</h5>
                            <span>Physical Audit</span>
                        </div>
                        <p>Our expert team will then carry out the physical audit of your IT systems. All are well qualified to benchmark your IT infrastructure against current industry best practice and any emerging technological solutions that may benefit your business.    The physical audit will include a detailed survey of the following:</p>
                        <ul class="disc-list">
                            <li>Network infrastructure design, capacity and resilience</li>
                            <li>Server setup and configuration</li>
                            <li>Data storage and backup resources</li>
                            <li>Security including Anti-virus, Firewall and Email Spam</li>
                            <li>System maintenance and security procedures</li>
                        </ul>
                        <div class="inline-heading">
                            <h5 class="inline">Stage 3</h5>
                            <span>Follow-up Meeting &amp; Report Presentation</span>
                        </div>
                        <p>On completion of stages 1 and 2 we will evaluate our findings to determine if your current IT infrastructure is fit for purpose. This will identify whether or not it is operating efficiently, safeguarding your assets, maintaining data integrity and ultimately achieving your business objectives. We will then produce a detailed report of our findings and suggested recommendations outlining the current position of your IT systems, identifying any shortfalls and risks, and suggesting any future improvements. A follow-up review meeting will be arranged so that we can present our findings in person in a clear, concise and non-technical manner. Findings from the report can then be used as a road map for your future IT strategy in order to minimise your risks, maximise your efficiency and plan for your future goals.</p>
                        <p>If you would like to arrange your free technology audit or require any further information or advice, then please contact us today and speak to one of our technology specialists.</p>
                        <div class="inline-heading">
                            <h5 class="inline">Request Audit</h5>
                            <span>Fill in form below to receive a Free Audit</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-md-offset-2">
                            <div class="content-wrapp">
                                <div id="message"></div>
                                <form method="post" action="enquiries.php" class="contact-form" role="form">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="company">Company Name</label>
                                                <input class="form-control" type="text" name="company_name" placeholder="Company name">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="contact">Contact Person</label>
                                                <input class="form-control" type="text" name="contact" placeholder="Contact person">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="telephone">Tel</label>
                                                <input class="form-control" type="text" name="phone" placeholder="Contact Number">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="emailaddress">Email</label>
                                                <input class="form-control" type="email" name="email" placeholder="name@domain.co.za">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="city">City</label>
                                                <input class="form-control" type="text" name="city" placeholder="Pretoria">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="employees">Number of users/employees</label>
                                                <input class="form-control" type="text" name="employees" placeholder="0-10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="servers">Number of servers</label>
                                                <input class="form-control" type="text" name="servers" placeholder="1-2">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="interest">What service is most important to your business?</label>
                                                <select name="option" id="services">
                                                    <option>Network Monitoring</option>
                                                    <option>Maintenance</option>
                                                    <option>Security</option>
                                                    <option>Basic day-to-day support</option>
                                                    <option>Network Management</option>
                                                    <option>Technology Management</option>
                                                    <option>Vendor Management</option>
                                                    <option>Infrastructure Management</option>
                                                    <option>Cloud / Hosting</option>
                                                    <option>Backup &amp; Disaster Recovery</option>
                                                    <option>Hardware &amp; Software Procurement</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="comments">Additional comments</label>
                                                <textarea name="comments" id="comments" cols="30" rows="10" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-embossed btn-primary">SUBMIT</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="form-message">
                                    <ul id="response"><li></li></ul>
                                </div>
                            </div>
                            <!-- / contact form -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- / audit info -->
            <section class="partners animated fadeInUp">
                <div class="lrg-heading">
                    <h3>technology partners</h3>
                </div>
                <div class="container">
                    <ul class="ls-thumbnail">
                        <li>
                            <div class="img-wrap"><img src="assets/images/partners/microsoft-logo.jpg" alt="Microsoft partner"></div>
                        </li>
                        <li>
                            <div class="img-wrap"><img src="assets/images/partners/hp-logo.jpg" alt="HP partner"></div>
                        </li>
                        <li>
                            <div class="img-wrap"><img src="assets/images/partners/cisco-logo.jpg" alt="CISCO partner"></div>
                        </li>
                        <li>
                            <div class="img-wrap"><img src="assets/images/partners/symantec-logo.jpg" alt="Symantec partner"></div>
                        </li>
                        <li>
                            <div class="img-wrap"><img src="assets/images/partners/dell-logo.jpg" alt="Dell partner"></div>
                        </li>
                        <li>
                            <div class="img-wrap"><img src="assets/images/partners/ibm-logo.jpg" alt="IBM partner"></div>
                        </li>
                    </ul>
                </div>
            </section>
            
