
            <section class="math-head">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114889.11347393908!2d28.07618505!3d-25.860102449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e957b0df5954b27%3A0x474f6dba7062227f!2sCenturion%2C+South+Africa!5e0!3m2!1sen!2s!4v1407255377338" frameborder="0" style="border:0"></iframe>
                </div>
            </section>
            <!-- / math-head -->
            <section class="sub-wrap">
            	<div class="container">
            		<div class="row">
            			<div class="col-4">
            				<div class="content-wrapp">
            					<span class="contact-details glyph">
                                    <span class="glyph">
                                        <i class="glyphicon glyphicon-earphone round-glyph"></i>
                                    </span>
            						(012) 644 1119
            					</span>
            				</div>
            			</div>
            			<div class="col-4">
            				<div class="content-wrapp">
            					<span class="contact-details glyph">
                                    <span class="glyph">
                                        <i class="glyphicon glyphicon-envelope round-glyph"></i>
                                    </span>
            						<a href="mailto:info@smglobaltech.co.za">info@smglobaltech.co.za</a>
            					</span>
            				</div>
            			</div>
            			<div class="col-4">
            				<div class="content-wrapp">
            					<span class="contact-details glyph">
                                    <span class="glyph">
                                        <i class="glyphicon glyphicon-wrench round-glyph"></i>
                                    </span>
            						<a href="mailto:support@smglobaltech.co.za">support@smglobaltech.co.za</a>
            					</span>
            				</div>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-9">
            				<div class="content-wrapp">
                                
            					<form id="contact-form" name="contact-form" method="post" action="contact_form.php" class="contact-form">
            						<div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input id="name" class="form-control" type="text" name="name" placeholder="Your name">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="surname">Surname</label>
                                                <input id="surname" class="form-control" type="text" name="surname" placeholder="Surname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="email">Email Address</label>
                                                <input id="email" class="form-control" type="email" name="email" placeholder="name@domain.co.za">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="Company Name">Company Name</label>
                                                <input id="company" class="form-control" type="text" name="company" placeholder="Company name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="Message">Message</label>
                                                <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button id="submitting" type="submit" class="btn btn-lg btn-embossed btn-primary">SUBMIT</button>
                                            </div>
                                        </div>
                                    </div>
            					</form>
                                <div id="form-message" class="left">
                                    <ul id="response"><li></li></ul>
                                </div>
            				</div>
            				<!-- / contact form -->
            			</div>
                        <div class="col-3">
                            <div class="content-wrap">
                                <h4>Business Hours</h4>
                                <p>Monday – Friday:<br>8:00am to 16:30pm</p>
                                <p>Saturday:<br>8:00am to 12:00pm</p>
                                <p>Sunday:<br>day off</p>
                                <span class="linetop">
                                    <a href="quoteform.html" class="btn btn-secondary btn-embossed btn-long">Request Quote</a>
                                    <a href="audit.html" class="whitespace-top btn btn-secondary btn-embossed btn-long">Claim Free Audit</a>
                                </span>
                            </div>
                        </div>
            		</div>
            	</div>
            </section>
            