<section class="math-head">
                <div class="jumbotron home-jumbo">
                    <div class="liquid-container">
                        <div class="liquid-col">
                            <h2>While others focus on incomes, we focus on outcomes.</h2>
                            <p>We will look after your IT while you look after business.<br>SM Global Tech, small enough to be personal but big enough to be professional.</p>
                            <a href="#/solutions" class="btn btn-primary btn-lg btn-outline">SERVICES</a>
                            <a href="#/audit" class="btn btn-primary btn-lg btn-outline">PROCESS</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / math-head -->
            <section class="smgt-wedo">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <img src="images/hm_content_img_1.jpg" class="img-responsive" alt="iMac image">
                        </div>
                        <div class="col-6">
                            <div class="content-wrap">
                                <div class="mdm-heading">
                                <h3>what we do</h3>
                            </div>
                                <p class="mg-bottom">We provide our clients the freedom to flex strategically, adapt to change faster, seize opportunities and simply do business, with the certainty that their IT is taken care off. Using the most innovative, simple business-led measures in our industry, we are pioneering value for visionary businesses. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / what we do -->
            <section class="smgt-benefit">
                <div class="container">
                    <div class="lrg-heading">
                        <h3>the benefit</h3>
                        <p class="lead-lrg">By outsourcing your IT services to SM Global Tech your business will derive great value. 
                        <br>
                        Here below are a few benefits from outsourcing your IT to us.</p>
                    </div>
                    <div class="ls-benefits">
                        <div class="col-4">
                            <div class="content-ico">
                                <i class="smgt-icon-leadership"></i>
                            </div>
                            <div class="content-block">
                                <h4>Strategy and Leadership</h4>
                                <ul class="customlist">
                                    <li>
                                        Enhanced and protected competitive advantage: IT fully integrated into your business strategy</li>
                                    <li>Focussed Leadership: focus on business insight, not housekeeping</li>
                                    <li>Flexibility</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="content-ico">
                                <i class="smgt-icon-cashreg"></i>
                            </div>
                            <div class="content-block">
                                <h4>Financial</h4>
                                <ul class="customlist">
                                    <li>Stabilised, predictable monthly costs</li>
                                    <li>Reduced costs</li>
                                    <li>Streamlined, cost-efficient processes</li>
                                    <li>Risk minimised</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="content-ico">
                                <i class="smgt-icon-applications"></i>
                            </div>
                            <div class="content-block">
                                <h4>Processes and applications</h4>
                                <ul class="customlist">
                                    <li>Standardised integrated IT and business processes</li>
                                    <li>Highest security processes</li>
                                    <li>Agility to respond fast to market developments</li>
                                    <li>Greater technical expertise with an emphasis on business-value</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="content-ico">
                                <i class="smgt-icon-infra"></i>
                            </div>
                            <div class="content-block">
                                <h4>Infrastructure</h4>
                                <ul class="customlist">
                                    <li>Scalable and poised for future growth and strategic transitions</li>
                                    <li>Being more competitive in your market by having access to the latest and greatest technologies</li>
                                    <li>Access to additional services and solutions</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="content-ico">
                                <i class="smgt-icon-people"></i>
                            </div>
                            <div class="content-block">
                                <h4>People</h4>
                                <ul class="customlist">
                                    <li>Realising value and retaining talent</li>
                                    <li>A productive staff supported by appropriate technology</li>
                                    <li>Place of choice working: Fully collaborative, mobile, millennial working environment for greater staff engagement, productivity</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="content-ico">
                                <i class="smgt-icon-outcomes"></i>
                            </div>
                            <div class="content-block">
                                <h4>Measurements based on outcomes</h4>
                                <ul class="customlist">
                                    <li>We measure our outsourced IT services against our customers' objectives. We use our customer-focussed metrics to regularly measure the ROI of your IT investment against whatever outcomes realise value for your business.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / smgt-benefit -->
            <section class="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-offset-6">
                            <p class="lead-lrg mg-bottom">We help visionary leaders shape the correct technology solution and offer the right level of service to perfectly meet their business strategy. We don’t mind if we deliver it, host it, support it, or provide people on the ground to manage it. </p>
                            <a href="contacts.html" class="btn btn-primary btn-lg btn-embossed">GET IN TOUCH</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / call to action -->
            <section class="smgt-offering mg-topbottom">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="content-wrap">
                                <div class="mdm-heading">
                                    <h3>our offering</h3>
                                </div>
                                <p class="mg-bottom">We offer prospective partners a free on-site technology audit. Our technology audit is an essential health check of your IT infrastructure and is the foundation of any good IT support proposal. It is a detailed analysis of your existing IT systems and will help to identify any weaknesses and potential risks along with any opportunities for future improvement.</p>
                                <!-- <a href="contacts.html" class="btn btn-secondary btn-embossed btn-lg">REQUEST QUOTE</a> -->
                            </div>
                        </div>
                        <div class="col-6">
                            <img src="images/hp-sec-img-01.jpg" class="img-responsive">
                        </div>
                    </div>
                    <!-- / what we do -->
                    <div class="row mg-top">
                        <div class="col-3" ng-repeat="offering in offering">
                            <div class="content-wrap"><span class="glyph">
                                    <i class="flaticon-stand2"></i>
                                    <h4><a class="h-link-dark" href="solutions.html#compsupp">{{offering.title}}</a></h4>
                                    <p>{{offering.summary}}</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="lrg-heading mg-top sliced">
                        <a href="audit.html" class="btn btn-lg btn-secondary btn-embossed">GET A FREE AUDIT</a>
                    </div>
                </div>
            </section>
            <!-- / offering -->
            <section class="partners">
                <div class="lrg-heading">
                    <h3>technology partners</h3>
                </div>
                <div class="container">
                    <ul class="ls-thumbnail">
                       <li class="" ng-repeat="partner in partners">
                            <div class="img-wrap"><img ng-src="{{ partner.images }}" alt="{{ partner.name }} partner"></div>
                        </li>
                    </ul>
                </div>
            </section>