
            <section class="math-head">
                <div class="jumbotron inset-jumbo">
                    <div class="container">
                    	<div class="jumbo-position">
                            <div class="bitmap-head">
                                <img src="images/page-head-pricing.png" alt="pricing header">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / math-head -->
            <section class="sub-wrap">
            	<div class="container">
            		<div class="col-mid">
						<p>We cut through the complexity to deliver supportive IT strategies shaped around your business vision to create breathing room where it counts, when it counts.  Whatever stage your business is at, we make it simple. At SM Global Tech one of our key focuses is building sustainable relationships with our clients by not simply just being an IT department but a trusted IT partner.</p> 
						<p>We offer flexible packaged solutions focused around your business needs and objectives. Our aim is to ensure that you have the right solution put in place allowing you to focus on your core business while we take care of your IT. We use a value added approach instead of the per device pricing model. This ensures that we support users and not computers. For a fixed monthly premium we decrease the probability of business downtime and offer a pro-active service instead of re-active. We look out for fires before they even begin.</p>
						<a href="quoteform.html" class="btn btn-lg btn-secondary btn-embossed">Talk to us</a>

						<div class="table-content">
							<div class="lrg-heading">
								<h3>Pricing Table</h3>
							</div>
                            <div class="content-wrap">
                                <p>As our pricing formula is based on a value added approach, here below is a table that describes a few of the tasks that we would package for you in a managed support plan. </p>
                                <p>We assess what your core business focus is and formulate packaged solution that best works for you and your business. We try and keep it simple so that you can understand what value will be derived from partnering with SM Global Tech.</p>
                            
                                <div class="pricing-head">
                                    <p>Managed Support Plan</p>
                                </div>
                                <ul class="catalogue">
                                    <li>
                                        <div class="price-col">Proactive Technology Management</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">24/7 Server Uptime Monitoring</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Client Ticket Portal</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Windows Updates Installation and Management</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Antivirus Software Management and Updates</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Server &amp; Desktop Management</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Keep service packs, patches and hotfixes current as per company policy</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Phone and Remote Support Sessions</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Vendor Liaison &amp; Management</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Security Management</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li>
                                        <div class="price-col">100% No-Hassle Billing Guarantee</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">90 Day Money Back Guarantee</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li>
                                        <div class="price-col">First Priority Response</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Network Administration</div>
                                        <div class="price-option">Included</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Proactive Technology Management</div>
                                        <div class="price-option">Optional</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">24/7 Server Uptime Monitoring</div>
                                        <div class="price-option">Optional</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Client Ticket Portal</div>
                                        <div class="price-option">Optional</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Windows Updates Installation and Management</div>
                                        <div class="price-option">Optional</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Antivirus Software Management and Updates</div>
                                        <div class="price-option">Optional</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Server & Desktop Management</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Keep service packs, patches and hotfixes current as per company policy</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Phone and Remote Support Sessions</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                    <li>
                                        <div class="price-col">Vendor Liaison & Management</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">Security Management</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                    <li>
                                        <div class="price-col">100% No-Hassle Billing Guarantee</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                    <li class="lighter">
                                        <div class="price-col">91 Day Money Back Guarantee</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                    <li>
                                        <div class="price-col">First Priority Response</div>
                                        <div class="price-option">SLA</div>
                                    </li>
                                </ul>
                                <a href="quoteform.html" class="btn btn-lg btn-secondary btn-embossed">Get a quote</a>
                            </div>
						</div>
                        <!-- / pricing table -->
            		</div>
            	</div>
            </section>
            
