
            <section class="math-head">
                <div class="jumbotron inset-jumbo">
                    <div class="container">
                        <div class="jumbo-position">
                            <div class="bitmap-head">
                                <img class="img-responsive" src="assets/images/page-head-quote.png" alt="quote form header">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / math-head -->
            <section class="sub-wrap">
            	<div class="container">
            		<div class="row">
            			<div class="col-4">
            				<div class="content-wrapp">
            					<span class="contact-details glyph">
                                    <span class="glyph">
                                        <i class="glyphicon glyphicon-earphone round-glyph"></i>
                                    </span>
            						084 629 2183
            					</span>
            				</div>
            			</div>
            			<div class="col-4">
            				<div class="content-wrapp">
            					<span class="contact-details glyph">
                                    <span class="glyph">
                                        <i class="glyphicon glyphicon-envelope round-glyph"></i>
                                    </span>
            						<a href="mailto:info@smglobaltech.co.za">info@smglobaltech.co.za</a>
            					</span>
            				</div>
            			</div>
            			<div class="col-4">
            				<div class="content-wrapp">
            					<span class="contact-details glyph">
                                    <span class="glyph">
                                        <i class="glyphicon glyphicon-wrench round-glyph"></i>
                                    </span>
            						<a href="mailto:support@smglobaltech.co.za">support@smglobaltech.co.za</a>
            					</span>
            				</div>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-12">
            				<div class="content-wrapp">
                                <div id="message"></div>
            					<form method="post" action="enquiries.php" class="contact-form" role="form">
            						<div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="company">Company Name</label>
                                                <input class="form-control" type="text" name="company_name" placeholder="Company name">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="contact">Contact Person</label>
                                                <input class="form-control" type="text" name="contact" placeholder="Contact person">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="telephone">Tel</label>
                                                <input class="form-control" type="text" name="phone" placeholder="Contact Number">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="emailaddress">Email</label>
                                                <input class="form-control" type="email" name="email" placeholder="name@domain.co.za">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="city">City</label>
                                                <input class="form-control" type="text" name="city" placeholder="Pretoria">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="employees">Number of users/employees</label>
                                                <input class="form-control" type="number" name="employees" placeholder="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="servers">Number of servers</label>
                                                <input class="form-control" type="number" name="servers" placeholder="0">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="interest">What service is most important to your business?</label>
                                                <select name="option" id="services">
                                                	<option>Network Monitoring</option>
                                                	<option>Maintenance</option>
													<option>Security</option>
													<option>Basic day-to-day support</option>
													<option>Network Management</option>
													<option>Technology Management</option>
													<option>Vendor Management</option>
													<option>Infrastructure Management</option>
													<option>Cloud / Hosting</option>
													<option>Backup &amp; Disaster Recovery</option>
													<option>Hardware &amp; Software Procurement</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="comments">Additional comments</label>
                                                <textarea name="comments" id="comments" cols="30" rows="10" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-embossed btn-primary">SUBMIT</button>
                                            </div>
                                        </div>
                                    </div>
            					</form>
                                <div id="form-message" class="left">
                                    <ul id="response"><li></li></ul>
                                </div>
            				</div>
            			</div>
            		</div>
            	</div>
            </section>
            
