
            <section class="math-head">
                <div class="jumbotron inset-jumbo">
                    <div class="container">
                    	<div class="jumbo-position">
                    		<div class="bitmap-head">
                            	<img src="images/page-head-solutions.png" alt="solutions header">
                        	</div>
                    	</div>
                    </div>
                </div>
            </section>
            <!-- / math-head -->
            <section class="sub-wrap">
            	<div class="container">
            		<div class="col-mid">
            			<p class="lead-lrg">We deliver completely flexible outsourced IT services to small and medium enterprises. Our services help organisations align their strategies to technology solutions and initiatives to ensure that business objectives are met. We work together with you to improve your existing technology platform and transition to new technologies.</p>
            		</div>
            	</div>
            </section>
            <!-- / intro -->
            <section class="sub-wrap tanned">						
				<div class="container" id="compsupp">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Computer Support</h4>
							<p class="lead-lrg">Day-to-day IT support and computer management</p>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-support.jpg" alt="computer support image" class="img-responsive">
							</div>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>As an IT outsource partner, we offer a comprehensive value-based support services. Our high level of commitment ensures that we deliver supportive IT strategies ensuring that your business IT problems are taken care off.</p>
								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Basic daily support services</li>
										<li><i class="forward-chev"></i>Internet connectivity</li>
										<li><i class="forward-chev"></i>Software installations</li>
										<li><i class="forward-chev"></i>Hardware installations</li>
										<li><i class="forward-chev"></i>Hardware and Software upgrades</li>
										<li><i class="forward-chev"></i>Server, Desktop, Laptop, and mobile setup</li>
										<li><i class="forward-chev"></i>OS performance optimization</li>
										<li><i class="forward-chev"></i>Unlimited remote support</li>
										<li><i class="forward-chev"></i>Unlimited onsite support</li>
										<li><i class="forward-chev"></i>VMware support</li>
										<li><i class="forward-chev"></i>Web support</li>
										<li><i class="forward-chev"></i>Hardware assets trackings</li>
										<li><i class="forward-chev"></i>Configuration management</li>
										<li><i class="forward-chev"></i>Key application maintenance</li>
										<li><i class="forward-chev"></i>OS &amp; 3rd party patch management</li>
										<li><i class="forward-chev"></i>Real time server optimization</li>
										<li><i class="forward-chev"></i>Scheduled preventative maintenance</li>
										<li><i class="forward-chev"></i>Server &amp; desktop defragmentation</li>
										<li><i class="forward-chev"></i>Windows Management</li>
										<li><i class="forward-chev"></i>VPN Setup</li>
										<li><i class="forward-chev"></i>Mobile support</li>
										<li><i class="forward-chev"></i>Microsoft Infrastructure management</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-wrap">
				<div class="container" id="networksol">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Network Solutions</h4>
							<p class="lead-lrg">Network management and daily network monitoring</p>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>Our depth of expertise and partnerships with the best industry network engineers and vendors allows us to provide leading network services that leverage advanced technology.</p>
								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Network Monitoring</li>
										<li><i class="forward-chev"></i>Switch Monitoring</li>
										<li><i class="forward-chev"></i>Advance performance monitoring</li>
										<li><i class="forward-chev"></i>VPN management</li>
										<li><i class="forward-chev"></i>Server uptime monitoring</li>
										<li><i class="forward-chev"></i>Network migration</li>
										<li><i class="forward-chev"></i>Cabling, switch, router, wifi installation</li>
										<li><i class="forward-chev"></i>Router Monitoring</li>
										<li><i class="forward-chev"></i>LAN setup</li>
										<li><i class="forward-chev"></i>ISP Management</li>
										<li><i class="forward-chev"></i>Network health review</li>
										<li><i class="forward-chev"></i>Network setup</li>
										<li><i class="forward-chev"></i>Network upgrade</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-network.jpg" alt="network solutions image" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-wrap tanned">
				<div class="container" id="databack">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Data Backup &amp; Disaster Recovery</h4>
							<p class="lead-lrg">Data backup management, disaster recovery and business continuity services</p>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-data.jpg" alt="data backup and disaster recovery image" class="img-responsive">
							</div>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>We live in an uncertain world and if you are like most executives, you worry about the safety of your data and the continuity of your business and core offerings. The importance of backing up your mission-critical data and being able to keep working in the case of a disaster, is highly crucial to dynamic businesses. At SM Global Tech we ensure that your data is secured efficiently by providing technology to ensure businesses continue to operate with minimal interruption. From a simple disk-to-disk backup solution to a sophisticated reliable cloud platform we can find a solution that works for you.</p>
								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Tap backups</li>
										<li><i class="forward-chev"></i>Disk-to-disk backup</li>
										<li><i class="forward-chev"></i>Disaster recovery planning</li>
										<li><i class="forward-chev"></i>Business continuity</li>
										<li><i class="forward-chev"></i>Scheduled backups</li>
										<li><i class="forward-chev"></i>Online backups (cloud)</li>
										<li><i class="forward-chev"></i>Offsite storage</li>
										<li><i class="forward-chev"></i>Data protection</li>
										<li><i class="forward-chev"></i>Data archiving</li>
										<li><i class="forward-chev"></i>Incremental file restoration</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-wrap">
				<div class="container" id="cloudhost">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Cloud Services &amp; Website Hosting Solutions</h4>
							<p class="lead-lrg">Cloud computing, website hosting, design, implementation and management</p>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>Cloud services means services made available to users on demand via the Internet from a cloud computing servers as opposed to being provided from a company's own on-premises servers. Cloud services are designed to provide easy, scalable access to applications, resources and services, and are fully managed by a cloud services provider eg. Amazon, Microsoft, Google Cloud.</p>
								<p>A cloud service can dynamically scale to meet the needs of its users, and we offer the right guidance in selecting the correct service provider that supplies the hardware and software necessary for the service. Our partnerships with vendors in this market make it scalable and easier for your business to transition to the cloud platform.</p>
								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Microsoft Office 365</li>
										<li><i class="forward-chev"></i>Server and application hosting</li>
										<li><i class="forward-chev"></i>IBM smartcloud</li>
										<li><i class="forward-chev"></i>Website design</li>
										<li><i class="forward-chev"></i>Website revamping</li>
										<li><i class="forward-chev"></i>Web hosting</li>
										<li><i class="forward-chev"></i>Domain registration</li>
										<li><i class="forward-chev"></i>Microsoft windows azure</li>
										<li><i class="forward-chev"></i>Hosted exchange</li>
										<li><i class="forward-chev"></i>Virtualisation</li>
										<li><i class="forward-chev"></i>Website maintenance</li>
										<li><i class="forward-chev"></i>Content management</li>
										<li><i class="forward-chev"></i>Search engine optimization</li>
										<li><i class="forward-chev"></i>E-mail hosting</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-hosting.jpg" alt="cloud services and website hosting solutions image" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-wrap tanned">
				<div class="container" id="procure">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Hardware &amp; Software Procurement</h4>
							<p class="lead-lrg">Procurement of computer hardware and software</p>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-procurement.jpg" alt="hardware and software procurement" class="img-responsive">
							</div>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>SM Global Tech is an acknowledge seller of hardware and software in the IT market. Partnering with the most reliable manufacturers and suppliers we can deliver high quality products to your business door step. With a range of different hardware and infrastructure solutions we assist you in selecting the best products suitable for your business.</p>
								<p>Once a device has been damaged or out of warranty we take the time in delivering and upgrading on your behalf as your assisted partner. This is part of our vendor management service that we offer.</p>
								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Desktop PC’s</li>
										<li><i class="forward-chev"></i>Tablets</li>
										<li><i class="forward-chev"></i>Servers</li>
										<li><i class="forward-chev"></i>Cabling equipment</li>
										<li><i class="forward-chev"></i>Consumer electronics</li>
										<li><i class="forward-chev"></i>Printers</li>
										<li><i class="forward-chev"></i>Peripherals</li>
										<li><i class="forward-chev"></i>Laptops</li>
										<li><i class="forward-chev"></i>Notebooks</li>
										<li><i class="forward-chev"></i>Networking devices</li>
										<li><i class="forward-chev"></i>Storage media</li>
										<li><i class="forward-chev"></i>Monitors / Projectors</li>
										<li><i class="forward-chev"></i>UPS</li>
										<li><i class="forward-chev"></i>Consumer electronics</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-wrap">
				<div class="container" id="vendor">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Vendor Management</h4>
							<p class="lead-lrg">Develop, manage, control of vendor contracts, relationships and performance for the efficient delivery of contracted products and services</p>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>Vendor Management is an increasingly common way to handle the difficulties and magnitude of managing multiple staffing providers. At SM Global Tech we develop, manage, control vendor contracts, relationships and performance on your behalf. As part of selecting us as your trusted IT partner we ensure the efficient delivery of contracted products and services while you focus on your core business.</p>
								<p>Please see our vendor services below:</p>

								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Vendor Liason</li>
										<li><i class="forward-chev"></i>Vendor contract review</li>
										<li><i class="forward-chev"></i>Vendor coordination</li>
										<li><i class="forward-chev"></i>Vendor selection</li>
										<li><i class="forward-chev"></i>Vendor orientation</li>
										<li><i class="forward-chev"></i>Vendor compliance</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-vendor.jpg" alt="vendor management" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-wrap tanned">
				<div class="container" id="security">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Security Management</h4>
							<p class="lead-lrg">Firewalls, computer protection, email security and internet security management</p>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-security.jpg" alt="security management" class="img-responsive">
							</div>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>Security is without a doubt emerging as one of the most important elements in IT planning and implementation. Tablet devices and smart technology have permanently change the way we expect to work, however addressing the risks they pose must be set as high priority in your business.</p>
								<p>Threats are everywhere and protecting your company data is off the utmost importance to us. At SM Global Tech we ensure that your computers, network, servers and other infrastructure components are protected from malicious attacks.</p>
								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Managed anti-virus</li>
										<li><i class="forward-chev"></i>Two factor authentication</li>
										<li><i class="forward-chev"></i>Internet security</li>
										<li><i class="forward-chev"></i>Firewall management</li>
										<li><i class="forward-chev"></i>Anti-virus licensed updates</li>
										<li><i class="forward-chev"></i>Mobile security</li>
										<li><i class="forward-chev"></i>Web filtering</li>
										<li><i class="forward-chev"></i>Anti spyware</li>
										<li><i class="forward-chev"></i>Unauthorised access protection</li>
										<li><i class="forward-chev"></i>Hosted anti-spam</li>
										<li><i class="forward-chev"></i>E-mail filtering</li>
										<li><i class="forward-chev"></i>Network security</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sub-wrap">
				<div class="container" id="greenit">
					<div class="col-section">  <!-- wow bounceIn -->
						<div class="lrg-heading">
							<h4>Green IT</h4>
							<p class="lead-lrg">Eco-friendly and energy saving IT environment</p>
						</div>
						<div class="col-6">
							<div class="content-wrap">
								<p>Green IT or IT Sustainability refers to the study and practice of using computers and IT resources in a more efficient and environmentally responsible way. Computers and computing eat up a lot of natural resources, from the raw materials needed to manufacture them, the power used to run them, and the problems of disposing them at end of life.</p>
								<p>In a nutshell, Green IT or IT Sustainability is composed of two things:</p>
								<ol>
									<li><i class="forward-chev"></i>Minimising the negative impact of information technology use on the environment</li>
									<li><i class="forward-chev"></i>Using information technology to help solve environmental issues</li>
								</ol>
								<p>At SM Global Tech protecting our environment and sustaining it is one of our core values.</p>
								<p>We offer:</p>

								<div class="ls-solutions">
									<ul>
										<li><i class="forward-chev"></i>Paperless office automation solutions</li>
										<li><i class="forward-chev"></i>IT disposal services and pc recycling</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="img-base">
								<img src="images/smgt-solutions-greenIT.jpg" alt="green it" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</section>
            
